# Git soll Objekte ignorieren, genauso, wie Code::Blocks dateien

*.o
geany_run_script.sh
*.cbp
*.depend
*.layout
bin/
obj/

krypto/
conway/

*.dat
*.txt
*.stat
*.mat
*.png

*.exe

!roulette_highscore_save.dat

Ubung
